In [53]:
import pandas as pd

df = pd.read_excel("Houston.xlsx", 0)

In [54]:
df.head()

      Player Name     DK  My Rating
0  Dustin Johnson  11500          1
1    Zach Johnson   8600          2
2     Sung-Jae Im   9300          3
3  Denny McCarthy   7900          4
4  Russell Henley   9400          5

In [55]:
from pulp import *

# PROBLEM DATA:
DK = df["DK"]
rating = df["My Rating"]

max_cost = 47000
max_to_pick = 6

In [56]:
# DECLARE PROBLEM OBJECT:
prob = LpProblem("Min_Problem", LpMinimize)

In [57]:
# VARIABLES
# x_i - whether to include item i (1), or not (0)
n = len(DK)
N = range(n)
x = LpVariable.dicts("x", N, cat="Binary")

# OBJECTIVE
prob += lpSum([rating[i] * x[i] for i in N])

# CONSTRAINTS
prob += lpSum([x[i] for i in N]) == max_to_pick  # Limit number to include
prob += lpSum([x[i] * DK[i] for i in N]) <= max_cost  # Limit max. cost

# SOLVE & PRINT RESULTS
prob.solve()
print(LpStatus[prob.status])
print("Total rating = " + str(value(prob.objective)))
print("Total DK = " + str(sum([x[i].varValue * DK[i] for i in N])))

for v in prob.variables():
    if v.varValue != 0:
        print(v.name, "=", v.varValue)

Optimal
Total rating = 49.0
Total DK = 46500.0
x_1 = 1.0
x_13 = 1.0
x_14 = 1.0
x_3 = 1.0
x_6 = 1.0
x_7 = 1.0

In [58]:
combination = [1,3,6,7,13,14]
total = 0
for i in combination:
    print(df['Player Name'][i], df['DK'][i])

Zach Johnson 8600
Denny McCarthy 7900
Brian Harman 8500
Henrik Stenson 7400
Pat Perez 6800
Cameron Tringale 7300